<!DOCTYPE html>
<html>
<head>
  <title>Cats99api</title>

  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div style="font-size:12px;color:red"class="error"><%= error %></div>
    <% end %>
  <% end %>

  <% if current_user.nil?  %>
   <%= button_to "Log in", new_session_url, method: :get  %>
   <%= button_to "Sign Up", new_user_url, method: :get %>
   <% else %>
   <%= current_user.user_name %>
   <%= button_to "Log Out", session_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
